*{
    margin: 0;
    padding:0;
}
.main{
    width:100%;
    background-image:url(../image/18.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
   width:200px;
   float: left;
   height: 70px;
}
.logo{
    color:#ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.navbar-nav ml-auto{
    padding-right: 8px;
}
.nav-item a{
    color:white;
    font-weight: bold;
}
