*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
}
.outer-box{
  width:100vw;
  height:100vh;
  background-image: url(../html/image/8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  padding-left: 40px;
}
.inner-box{
  width: 400px;
  position: relative;
  top:40%;
  transform: translateY(-50%);
  padding: 20px 40px;
 background:linear-gradient(to top left,#ffffff,#fffff333);
  border-radius: 8px;
  box-shadow: 2px 2px 5px #2773a5;
  backdrop-filter:blur(8px);
}
.signup-header h1 {
  font-size: 2.5rem;
  color: #212121;
}
.signup-header p{
  font-size:0.9rem;
  color:#555;
}
.signup-body{
  margin: 20px 0;
}
.signup-body p{
  margin: 10px 0;
}
.signup-body p label{
  display: block;
  font-weight: bold;
}
.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top:4px;
}
.signup-body p input[type="submit"]{
 background-color: #3498db;
 border: none;
 cursor: pointer;
 color: white;
}

.signup-body p input[type="submit"]:hover{
  background-color: #2773a5;
 }
 .signup-footer p{
  color: #555;
  text-align: center;
 }
 .signup-footer p{
  color: #555;
  text-align: center;
 }
 .signup-footer p a{
  color: #2773a5;
 }